@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
	--color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat';
	background: linear-gradient(0deg, rgb(255, 255, 241) 20%, rgb(255, 228, 203) 100%);
}
/* Globales */
.container {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 auto;
}

/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 25px 0;
}
@media (max-width: 768px) {
	header {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 480px) {
	header {
		display: grid;
		align-items: center;
	}
}


.logo img {
	width: 150px;
}
@media (max-width: 768px) {
	.logo img{
		width: 150px;
	}
}
@media (max-width: 480px) {
	.logo img {
		width: 100%;
	}
}

header form {
	display: flex;
	align-items: center;

	gap: 15px;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 10px;

	border: 1px solid #555;
	padding: 15px 20px;
	border-radius: 25px;
}

.form-group input {
	/* padding: 15px 30px; */
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 300px;
	border: none;
	outline: none;
	font-size: 15px;
	background-color: inherit;
}

.icon-search {
	width: 20px;
	height: 20px;
	stroke: #555;
}

.btn-search {
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 32px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #fff;
	background-color: var(--color-primary);
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}

.btn-search:hover {
	background-color: var(--color-primary-hover);
	color: #000;
}

/* Btn Filter */
.container-filter {
	display: flex;
	justify-content: center;
	color: #fff;

}

.icon-filter {
	
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 20px;
	cursor: pointer;
	background-color: var(--color-primary);
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 10px 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
}
.icon-filter:hover {
	background-color: var(--color-primary-hover);
	color: #000;
}

.icon-filter .icon {
	width: 30px;
	height: 30px;
	stroke: #fff;
}

/* Card List Pokemon */
.card-list-pokemon {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

/* Tablet como el iPad (768px a 1024px) */
@media (max-width: 1024px) {
	.card-list-pokemon {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Samsung S20 (resolución de pantalla 1440x3200, pero el viewport es de 360px) */
@media (max-width: 768px) {
	.card-list-pokemon {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Teléfonos más pequeños o en modo móvil (iPhone) */
@media (max-width: 480px) {
	.card-list-pokemon {
		grid-template-columns: 1fr;
		justify-content: center;
	}
}
.card-pokemon {
	cursor: pointer;
	text-decoration: none;
}

.card-img {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 240px;
}

.card-img img {
	width: 100%;
	height: 100%;
	filter:drop-shadow(8px 2px 8px rgba(0, 0, 0, 0.5));
	transition: transform .2s;
	margin: 0 auto;
}
.card-img img:hover{
	-ms-transform: scale(.92); /* IE 9 */
	-webkit-transform: scale(.92); /* Safari 3-8 */
	transform: scale(.92); 
}

.card-info {
	padding: 15px;
}

.card-info h3 {
	color: #333;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pokemon-id {
	display: block;
	color: #333;
	margin-bottom: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 600;
}

.card-types {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

@media (max-width: 480px) {
	.card-types {
		display: flex;
		margin-top: 10px;
		justify-content: center;
		justify-content: space-around;

	}
}

.card-types span {
	font-size: 12px;
	padding: 5px 20px;
	border-radius:10px;
	color: #fff;
}

@media (max-width: 480px) {
	.card-types span {
		font-size: 22px;
		padding: 10px 30px;
		border-radius:10px;
		color: #fff;
	}
}

/* Types of Pokemon */
.water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}

/* Container Filters */

.container-filter {
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	.container-filter {
		display: flex;
		justify-content: end;
	}
}
@media (max-width: 480px) {
	.container-filter {
		display: flex;
		justify-content: end;
	}
}
@media (max-width: 360px) {
	.container-filter {
		display: flex;
		justify-content: end;
	}
}


.container-filters {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: -300px;
	width: 200px;
	color: #000000;
	background:#5fd4bb45;
	box-shadow:  2px 0 50px 1px #525151;
	height: auto;
	transition: all 0.3s linear;
	backdrop-filter: blur(0.4rem);
	-webkit-backdrop-filter: blur(0.4rem);
}

.container-filters.active {
	left: 0;
	height: 100%;
}

.filter-by-type {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.filter-by-type span {
	font-weight: 700;
	font-size: 20px;

}

.group-type {
	display: flex;
	gap: 10px;
	margin-left: inherit;
	transition: transform .2s;
	text-shadow: 1px 4px 15px rgb(73, 73, 73);
	font-weight: 500;
	height: 100%;
	text-align: center;

}

.group-type:hover{
	background-color: var(--color-primary);
	color: #fff;
	box-sizing: border-box;
	border-radius: 3px 15px 15px 3px;
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
}


.group-type label {
	cursor: pointer;
}
@media (max-width: 1024px) {
	.group-type label {
		cursor: pointer;
		margin-top: 1rem;
	}
}

@media (max-width: 768px) {
	.group-type label {
		cursor: pointer;
		margin-top: .4rem;
	}
}
@media (max-width: 480px) {
	.group-type label {
		cursor: pointer;
		margin-top: .1rem;
	}
}
@media (max-width: 360px) {
	.group-type label {
		cursor: pointer;
		margin-top: .1px;
	}
}

/* 
======================================= 
Styles of Pokemon Single Page
======================================= 
*/

.main-pokemon {
	display: flex;
	flex-direction: column;

	margin-top: 100px;
	margin-bottom: 50px;
}

.header-main-pokemon {
	margin-top: 20px;

	display: flex;
	align-items: center;

	position: relative;
}

@media (max-width: 480px) {
	.header-main-pokemon {
		margin-top: 20px;
		padding-top: 3rem;
		display: grid;
		align-items: center;
	
		position: relative;
	}
}


.number-pokemon {
	position: absolute;
	top: -150px;
	left: 0;

	font-size: 200px;
	font-weight: 600;
	color: var(--color-primary-hover);
}

@media (max-width: 480px) {
	.number-pokemon {
		position: absolute;
		top: -170px;
		margin-left: 23%;
		font-size: 200px;
		font-weight: 700;
		color: var(--color-primary-hover);
	}
}

.container-img-pokemon {
	order: 2;
	flex: 1.5;
	padding: 25px 25px 25px 0;
	height: 350px;
}

.container-img-pokemon img {
	height: 100%;
	width: 100%;
	filter:drop-shadow(8px 2px 8px rgba(0, 0, 0, 0.5));
}

.container-info-pokemon {
	display: flex;
	flex-direction: column;

	order: 1;
	flex: 1;
}

.container-info-pokemon h1 {
	text-align: left;
	margin-top: 10%;
	margin-bottom: 5%;
	font-size: 70px;
}



@media (max-width: 480px) {
	.container-info-pokemon h1 {
		text-align: center;
		margin-top: 10%;
		margin-bottom: 5%;
		font-size: 60px;
	}
}
.info-pokemon {
	display: flex;
	justify-content: space-between;

	margin-top: 20px;
}

@media (max-width: 480px) {
	.info-pokemon {
		display: flex;
		justify-content:space-around;
	
		margin-top: 2rem;
	}
}

.group-info{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.group-info p {
	font-weight: 700;
	font-size: 20px;
	color: var(--color-primary);

}

/* Stats */
.container-stats {
	display: grid;
	gap: 20px;
	align-items: center;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 25px;
	flex: 1;
}

.stat-group {
	display: flex;
	align-items: center;
	gap: 20px;
}

.stat-group span {
	flex: 15%;
	font-weight: 600;
	font-size: 20px;
}
  

.progress-bar {
	height: auto;
	border-radius: 10px;
}
/* Search Page */

.p-search{
	margin-bottom: 30px;
	font-size: 22px;
}

.p-search span{
	font-weight: 700;
}

/* Loader */

.container-loader{
	display: flex;
	justify-content: center;
	margin: 200px 0;
}

/* Btn Load More */

.container-btn-load-more{
	display: flex;
	justify-content: center;

	margin-bottom: 20px;
	margin-top: 20px;
}

.btn-load-more{
	border: none;
	padding: 15px 40px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	letter-spacing: 2px;
}

.btn-load-more:hover{
	background-color: var(--color-primary-hover);
	color: #000;
}